<div class="card">
  <div class="card-header">
    <!-- <span class="state-a-livrer" *ngIf="state.ALIVRER === item.state">{{ item.state}}</span>
    <span class="state-en-cours" *ngIf="state.ENCOURS === item.state">{{ item.state}}</span>
    <span class="state-livree" *ngIf="state.LIVRER === item.state">{{ item.state}}</span> -->

    <span [appState]="item.state"> {{ item.state}} </span>
    <a class="btn btn-primary float-right"  [routerLink]="['/items/edit', item.id]" >
      <span class="icon-pencil-square"></span>
    </a>

  </div>
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">{{ item.reference }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
