<form class="form" [formGroup]="form" (ngSubmit)="process()" novalidate>
  <div class="form-group">
    <input formControlName="name" class="form-control" type="text" placeholder="Nom et prénom">
    <!-- div class="alert alert-danger" *ngIf="form.get('name').invalid && form.get('name').touched">champs invalid</div> -->
    <div class="alert alert-danger" *ngIf="isError('name')">champs invalid</div>
   </div>
  <div class="form-group">
    <input formControlName="reference" class="form-control" type="text" placeholder="Ref. ex:1234">
    <div class="alert alert-danger" *ngIf="form.get('reference').invalid && form.get('reference').touched">champs invalid</div>
      </div>
  <select formControlName="state" class="form-control">
    <!-- <option [ngValue]="state.ALIVRER">A livrer</option>
    <option [ngValue]="state.ENCOURS">En cours</option>
    <option [ngValue]="state.LIVREE">Livrée</option> -->

    <option *ngFor="let libelle of stateLibelles" [ngValue]="libelle">{{ libelle }}</option>

  </select>
  <div class="form-group">
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary mb-2">Valider</button>
  </div>
</form>
